*, html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  padding-right: 30px;
  width: 100%;
  background: black;
  color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
  gap: 4;
  
}

.pallarax {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.awal {
  background-image: url('awal.jpeg');
}
.tengah {
  background-image: url('tengah.jpeg');
}
.akhir {
  background-image: url('akhir.jpeg');
}